#expanded{
    width: 150px;
    i:first-child{
        position: relative;
        left: -30px;
    }
    i:last-child{
        position: relative;
        left: 30px;
    }
    #hide{
        border: 1px solid rgba(0, 0, 0, 0.125);
        font-weight: 700;
        text-align: center;
        cursor: pointer;
    }
}



.hed{
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding-top: 5px;
    margin: auto;
    text-align: -webkit-center;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-top: 5px;
    margin-bottom: 1px;
    
    h6{
        padding-left: 10px;
    }
}
.paddingRight10px{
    padding-right: 10px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}
.fontWeight600{
    font-weight: 600;
}
.fontWeight800{
    font-weight: 800;
}

hr{
    margin: 0;
}
.detailedItem{
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 0.25rem;
    padding: 0 10px;
    margin-bottom: 1px;
}
.littleDesc{
    font-size: 10px;
    top: 5px;
    position: relative;
}

// .test{
//     position: absolute;
//     left: 150px
// }


#verticalTitle{
    margin: 0 2px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-weight: 700;
    cursor: pointer;
    span{
        display: block;
        transform: rotate(90deg);
        height: 11px;
        text-align: center;
        left: 6px;
        position: relative;
        i{
            color: #007bff;
        }
    }
    span:first-child{
        top: -4px;
    }
    span:last-child{
        top: 4px;
    }
}