#expanded{
    width: 150px;
    i:first-child{
        position: relative;
        left: -30px;
    }
    i:last-child{
        position: relative;
        left: 30px;
    }
    #hide{
        border: 1px solid rgba(0, 0, 0, 0.125);
        font-weight: 700;
        text-align: center;
        cursor: pointer;
    }
}




.paddingRight10px{
    padding-right: 10px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}
.fontWeight600{
    font-weight: 600;
}
.fontWeight800{
    font-weight: 800;
}

hr{
    margin: 0;
}
// .detailedItem{
//     font-size: 13px;
//     margin-bottom: 1px;
// }

#categoryBox{
    border-radius: 10px;
    .hed{
        cursor: pointer;
        background-color: #007bff;
        color: white;
        margin-top: 2px;
        border-radius: 3px;
        h6{
            padding-left: 10px;
            position: relative;
            top: 3px;
        }
    }
    .detailedItem{
        font-size: 13px;
        margin-bottom: 1px;
    }
    .collapse{
        .secondSum{
            float: right;
        }
        .datailMain{
            width: 100%;
            padding: 0 5px;
        }
        .date{
            font-size: 12px;
            padding: 0 5px;
        }
    }
    .detailSmall{
        padding: 0 5px;
        &:nth-child(odd){
            background-color: #e2e2e2;
        }
    }
    .littleDesc{
        font-size: 10px;
        top: 3px;
        position: relative;
    }
    .dayHeader{
        background-color: #cccccc;
    }
}


#verticalTitle{
    margin: 0 2px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-weight: 700;
    cursor: pointer;
    span{
        display: block;
        transform: rotate(90deg);
        height: 11px;
        text-align: center;
        left: 6px;
        position: relative;
        i{
            color: #007bff;
        }
    }
    span:first-child{
        top: -4px;
    }
    span:last-child{
        top: 4px;
    }
}