<div class="card container">
  <div class="card-body">
    <form [formGroup]="formGroup">
      <label> Category
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{selectedCategory}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item margin-left-10" type="button" *ngFor='let category of categories'
              (click)='onCategorySelect(category)'>{{category.name}}</button>
          </div>
        </div>
      </label>

      <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="right"
        title="Create new category" (click)='showNewCateSection = !showNewCateSection'>
        <i class="fas fa-plus-square"></i>
      </button>
      <label class="down5px margin-left-10">Description<input type="text" class='form-control' formControlName="description"></label>
      <label class="down5px margin-left-10">Value<input type="number" class='form-control' formControlName="value"></label>
      <label class="down5px margin-left-10">
        <div>Date</div>
        <input id='date' type="text" formControlName='date' ngbDatepicker #EndDat="ngbDatepicker"
          onkeydown="return false" />
        <button class="btn btn-primary btn-sm" id='dateButton' style="top: -2px; position: relative;" (click)="EndDat.toggle()"><i
            class="far fa-calendar-alt"></i></button>
      </label>
    <button class="btn btn-primary margin-left-10" type="button" (click)='onAddNewExpense()'
        [attr.disabled]='this.formGroup.valid ? null : false'>Save new expense</button>

      <div *ngIf='showNewCateSection' class='modal'>
        <div class='modalContent'>
          <label>Category name<input type="text" class='form-control' formControlName='newCategoryformControl'></label>
          <button class="btn btn-primary" type="button" (click)='onAddNewCategory()'>SAVE</button>
          <a><button type="button" class="btn btn-link" (click)='showNewCateSection=false'
              style='clear: both'>Back</button></a>
        </div>
      </div>
    </form>
  </div>
</div>