.dropdown{
    display: block;
    button {
        width: 200px;
        border: 1px solid lightgrey;
    }
}

.down5px{
    position: relative;
    top: 3px;
}
#date{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #495057;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
}
#dateButton{
    height: 38px;
    width: 38px;
}

.modal{
    align-items: center;
    background-color: rgba(100, 100, 100, 0.5);
    display: block;

    .modalContent{
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        button{
            top: -2px;
            position: relative;
        }
    }
}